* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: palevioletred;
  text-align: center;
}
main {
  display: flexbox;
  justify-content: center;
  background-color: aliceblue;
}
img{
  display: flex;
}
.pokemon {
  justify-items: center;
  background-color: darkgray;
  border: 3px;
  border-style: dashed;
  margin-left: 20%;
  margin-right: 20%;
}
li {
  list-style-type: none;
}

.label{
  font-weight: bold;
}